@import "tailwindcss";

@theme {
  --color-primary: #1a90ff;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1923;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}
